body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

h2 {
  padding: 10px;
  text-align: left;
}

h1  {
  font-size: calc(40px + 3vw);
  text-align: center;
}

h3 {
  color: #333;
}

p, ol, h1, h2 {
  color: #333;
  width: 80%;
  max-width: 800px;
  margin: 10px auto;
}

p, ol {
  font-size: 1.1em;
  line-height: 1.6;
}

#quiz-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

textarea, input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button, input[type="submit"] {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 20px auto;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1em;
}

button:hover, input[type="submit"]:hover {
  background-color: #0056b3;
}

.option {
  margin-bottom: 20px;
}

.correct {
  background-color: #c6ffc1;
}

.incorrect {
  background-color: #ffc6c6;
}

#results {
  text-align: center;
  font-size: 1.5em;
  margin: 20px auto;
  padding: 20px;
  color: #007BFF;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* New styles for images */
#quiz-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}